:root {
  --main-acent: rgba(67, 33, 147, 1);
  --material-themewhite: rgba(255, 255, 255, 1);
  --material-themeblack: rgba(0, 0, 0, 1);
  --material-themesyslightprimary: rgba(89, 100, 0, 1);
  --material-themesyslighton-primary: rgba(255, 255, 255, 1);
  --material-themesyslightprimary-container: rgba(218, 237, 91, 1);
  --material-themesyslighton-primary-container: rgba(26, 30, 0, 1);
  --material-themesyslightprimary-fixed: rgba(218, 237, 91, 1);
  --material-themesyslighton-primary-fixed: rgba(26, 30, 0, 1);
  --material-themesyslightprimary-fixed-dim: rgba(190, 208, 65, 1);
  --material-themesyslighton-primary-fixed-variant: rgba(67, 75, 0, 1);
  --material-themesyslightsecondary: rgba(93, 97, 69, 1);
  --material-themesyslighton-secondary: rgba(255, 255, 255, 1);
  --material-themesyslightsecondary-container: rgba(227, 229, 194, 1);
  --material-themesyslighton-secondary-container: rgba(26, 29, 7, 1);
  --material-themesyslightsecondary-fixed: rgba(227, 229, 194, 1);
  --material-themesyslighton-secondary-fixed: rgba(26, 29, 7, 1);
  --material-themesyslightsecondary-fixed-dim: rgba(198, 201, 167, 1);
  --material-themesyslighton-secondary-fixed-variant: rgba(70, 73, 47, 1);
  --material-themesyslighttertiary: rgba(59, 102, 91, 1);
  --material-themesyslighton-tertiary: rgba(255, 255, 255, 1);
  --material-themesyslighttertiary-container: rgba(190, 236, 221, 1);
  --material-themesyslighton-tertiary-container: rgba(0, 32, 25, 1);
  --material-themesyslighttertiary-fixed: rgba(190, 236, 221, 1);
  --material-themesyslighton-tertiary-fixed: rgba(0, 32, 25, 1);
  --material-themesyslighttertiary-fixed-dim: rgba(162, 208, 194, 1);
  --material-themesyslighton-tertiary-fixed-variant: rgba(34, 78, 68, 1);
  --material-themesyslighterror: rgba(186, 26, 26, 1);
  --material-themesyslighton-error: rgba(255, 255, 255, 1);
  --material-themesyslighterror-container: rgba(255, 218, 214, 1);
  --material-themesyslighton-error-container: rgba(65, 0, 2, 1);
  --material-themesyslightoutline: rgba(120, 120, 106, 1);
  --material-themesyslightbackground: rgba(255, 252, 243, 1);
  --material-themesyslighton-background: rgba(28, 28, 23, 1);
  --material-themesyslightsurface: rgba(252, 249, 241, 1);
  --material-themesyslighton-surface: rgba(28, 28, 23, 1);
  --material-themesyslightsurface-variant: rgba(228, 227, 210, 1);
  --material-themesyslighton-surface-variant: rgba(71, 72, 59, 1);
  --material-themesyslightinverse-surface: rgba(49, 49, 43, 1);
  --material-themesyslightinverse-on-surface: rgba(243, 241, 232, 1);
  --material-themesyslightinverse-primary: rgba(190, 208, 65, 1);
  --material-themesyslightshadow: rgba(0, 0, 0, 1);
  --material-themesyslightsurface-tint: rgba(89, 100, 0, 1);
  --material-themesyslightoutline-variant: rgba(200, 199, 183, 1);
  --material-themesyslightscrim: rgba(0, 0, 0, 1);
  --material-themesyslightsurface-container-highest: rgba(229, 226, 218, 1);
  --material-themesyslightsurface-container-high: rgba(235, 232, 224, 1);
  --material-themesyslightsurface-container: rgba(240, 238, 229, 1);
  --material-themesyslightsurface-container-low: rgba(246, 243, 235, 1);
  --material-themesyslightsurface-container-lowest: rgba(255, 255, 255, 1);
  --material-themesyslightsurface-bright: rgba(252, 249, 241, 1);
  --material-themesyslightsurface-dim: rgba(220, 218, 210, 1);
  --material-themesysdarkprimary: rgba(190, 208, 65, 1);
  --material-themesysdarkon-primary: rgba(45, 52, 0, 1);
  --material-themesysdarkprimary-container: rgba(67, 75, 0, 1);
  --material-themesysdarkon-primary-container: rgba(218, 237, 91, 1);
  --material-themesysdarkprimary-fixed: rgba(218, 237, 91, 1);
  --material-themesysdarkon-primary-fixed: rgba(26, 30, 0, 1);
  --material-themesysdarkprimary-fixed-dim: rgba(190, 208, 65, 1);
  --material-themesysdarkon-primary-fixed-variant: rgba(67, 75, 0, 1);
  --material-themesysdarksecondary: rgba(198, 201, 167, 1);
  --material-themesysdarkon-secondary: rgba(47, 50, 26, 1);
  --material-themesysdarksecondary-container: rgba(70, 73, 47, 1);
  --material-themesysdarkon-secondary-container: rgba(227, 229, 194, 1);
  --material-themesysdarksecondary-fixed: rgba(227, 229, 194, 1);
  --material-themesysdarkon-secondary-fixed: rgba(26, 29, 7, 1);
  --material-themesysdarksecondary-fixed-dim: rgba(198, 201, 167, 1);
  --material-themesysdarkon-secondary-fixed-variant: rgba(70, 73, 47, 1);
  --material-themesysdarktertiary: rgba(162, 208, 194, 1);
  --material-themesysdarkon-tertiary: rgba(6, 55, 45, 1);
  --material-themesysdarktertiary-container: rgba(34, 78, 68, 1);
  --material-themesysdarkon-tertiary-container: rgba(190, 236, 221, 1);
  --material-themesysdarktertiary-fixed: rgba(190, 236, 221, 1);
  --material-themesysdarkon-tertiary-fixed: rgba(0, 32, 25, 1);
  --material-themesysdarktertiary-fixed-dim: rgba(162, 208, 194, 1);
  --material-themesysdarkon-tertiary-fixed-variant: rgba(34, 78, 68, 1);
  --material-themesysdarkerror: rgba(255, 180, 171, 1);
  --material-themesysdarkon-error: rgba(105, 0, 5, 1);
  --material-themesysdarkerror-container: rgba(147, 0, 10, 1);
  --material-themesysdarkon-error-container: rgba(255, 218, 214, 1);
  --material-themesysdarkoutline: rgba(145, 146, 131, 1);
  --material-themesysdarkbackground: rgba(28, 28, 23, 1);
  --material-themesysdarkon-background: rgba(229, 226, 218, 1);
  --material-themesysdarksurface: rgba(19, 20, 15, 1);
  --material-themesysdarkon-surface: rgba(201, 198, 190, 1);
  --material-themesysdarksurface-variant: rgba(71, 72, 59, 1);
  --material-themesysdarkon-surface-variant: rgba(200, 199, 183, 1);
  --material-themesysdarkinverse-surface: rgba(229, 226, 218, 1);
  --material-themesysdarkinverse-on-surface: rgba(28, 28, 23, 1);
  --material-themesysdarkinverse-primary: rgba(89, 100, 0, 1);
  --material-themesysdarkshadow: rgba(0, 0, 0, 1);
  --material-themesysdarksurface-tint: rgba(190, 208, 65, 1);
  --material-themesysdarkoutline-variant: rgba(71, 72, 59, 1);
  --material-themesysdarkscrim: rgba(0, 0, 0, 1);
  --material-themesysdarksurface-container-highest: rgba(53, 53, 47, 1);
  --material-themesysdarksurface-container-high: rgba(42, 42, 37, 1);
  --material-themesysdarksurface-container: rgba(32, 32, 27, 1);
  --material-themesysdarksurface-container-low: rgba(28, 28, 23, 1);
  --material-themesysdarksurface-container-lowest: rgba(14, 14, 10, 1);
  --material-themesysdarksurface-bright: rgba(58, 57, 52, 1);
  --material-themesysdarksurface-dim: rgba(19, 20, 15, 1);
  --material-themerefprimaryprimary0: rgba(0, 0, 0, 1);
  --material-themerefprimaryprimary10: rgba(26, 30, 0, 1);
  --material-themerefprimaryprimary20: rgba(45, 52, 0, 1);
  --material-themerefprimaryprimary30: rgba(67, 75, 0, 1);
  --material-themerefprimaryprimary40: rgba(89, 100, 0, 1);
  --material-themerefprimaryprimary50: rgba(113, 126, 0, 1);
  --material-themerefprimaryprimary60: rgba(137, 153, 0, 1);
  --material-themerefprimaryprimary70: rgba(163, 180, 37, 1);
  --material-themerefprimaryprimary80: rgba(190, 208, 65, 1);
  --material-themerefprimaryprimary90: rgba(218, 237, 91, 1);
  --material-themerefprimaryprimary95: rgba(233, 252, 104, 1);
  --material-themerefprimaryprimary99: rgba(253, 255, 218, 1);
  --material-themerefprimaryprimary100: rgba(255, 255, 255, 1);
  --material-themerefprimaryprimary4: rgba(13, 16, 0, 1);
  --material-themerefprimaryprimary6: rgba(18, 21, 0, 1);
  --material-themerefprimaryprimary12: rgba(29, 34, 0, 1);
  --material-themerefprimaryprimary17: rgba(39, 45, 0, 1);
  --material-themerefprimaryprimary22: rgba(50, 56, 0, 1);
  --material-themerefprimaryprimary24: rgba(54, 61, 0, 1);
  --material-themerefprimaryprimary87: rgba(210, 228, 83, 1);
  --material-themerefprimaryprimary92: rgba(224, 243, 96, 1);
  --material-themerefprimaryprimary94: rgba(230, 249, 101, 1);
  --material-themerefprimaryprimary96: rgba(235, 255, 106, 1);
  --material-themerefprimaryprimary5: rgba(15, 18, 0, 1);
  --material-themerefprimaryprimary25: rgba(56, 63, 0, 1);
  --material-themerefprimaryprimary35: rgba(78, 87, 0, 1);
  --material-themerefprimaryprimary98: rgba(247, 255, 187, 1);
  --material-themerefsecondarysecondary0: rgba(0, 0, 0, 1);
  --material-themerefsecondarysecondary10: rgba(26, 29, 7, 1);
  --material-themerefsecondarysecondary20: rgba(47, 50, 26, 1);
  --material-themerefsecondarysecondary30: rgba(70, 73, 47, 1);
  --material-themerefsecondarysecondary40: rgba(93, 97, 69, 1);
  --material-themerefsecondarysecondary50: rgba(118, 121, 92, 1);
  --material-themerefsecondarysecondary60: rgba(144, 147, 116, 1);
  --material-themerefsecondarysecondary70: rgba(171, 174, 141, 1);
  --material-themerefsecondarysecondary80: rgba(198, 201, 167, 1);
  --material-themerefsecondarysecondary90: rgba(227, 229, 194, 1);
  --material-themerefsecondarysecondary95: rgba(241, 243, 207, 1);
  --material-themerefsecondarysecondary99: rgba(253, 255, 218, 1);
  --material-themerefsecondarysecondary100: rgba(255, 255, 255, 1);
  --material-themerefsecondarysecondary4: rgba(13, 16, 1, 1);
  --material-themerefsecondarysecondary6: rgba(18, 21, 2, 1);
  --material-themerefsecondarysecondary12: rgba(30, 33, 11, 1);
  --material-themerefsecondarysecondary17: rgba(41, 44, 20, 1);
  --material-themerefsecondarysecondary22: rgba(52, 55, 30, 1);
  --material-themerefsecondarysecondary24: rgba(56, 59, 34, 1);
  --material-themerefsecondarysecondary87: rgba(218, 221, 186, 1);
  --material-themerefsecondarysecondary92: rgba(232, 235, 199, 1);
  --material-themerefsecondarysecondary94: rgba(238, 241, 204, 1);
  --material-themerefsecondarysecondary96: rgba(244, 246, 210, 1);
  --material-themerefsecondarysecondary5: rgba(16, 18, 1, 1);
  --material-themerefsecondarysecondary25: rgba(58, 61, 36, 1);
  --material-themerefsecondarysecondary35: rgba(81, 85, 57, 1);
  --material-themerefsecondarysecondary98: rgba(250, 252, 215, 1);
  --material-themereftertiarytertiary0: rgba(0, 0, 0, 1);
  --material-themereftertiarytertiary10: rgba(0, 32, 25, 1);
  --material-themereftertiarytertiary20: rgba(6, 55, 45, 1);
  --material-themereftertiarytertiary30: rgba(34, 78, 68, 1);
  --material-themereftertiarytertiary40: rgba(59, 102, 91, 1);
  --material-themereftertiarytertiary50: rgba(84, 127, 115, 1);
  --material-themereftertiarytertiary60: rgba(109, 154, 141, 1);
  --material-themereftertiarytertiary70: rgba(135, 180, 167, 1);
  --material-themereftertiarytertiary80: rgba(162, 208, 194, 1);
  --material-themereftertiarytertiary90: rgba(190, 236, 221, 1);
  --material-themereftertiarytertiary95: rgba(203, 251, 236, 1);
  --material-themereftertiarytertiary99: rgba(243, 255, 249, 1);
  --material-themereftertiarytertiary100: rgba(255, 255, 255, 1);
  --material-themereftertiarytertiary4: rgba(0, 17, 13, 1);
  --material-themereftertiarytertiary6: rgba(0, 23, 18, 1);
  --material-themereftertiarytertiary12: rgba(0, 37, 29, 1);
  --material-themereftertiarytertiary17: rgba(0, 48, 39, 1);
  --material-themereftertiarytertiary22: rgba(12, 60, 50, 1);
  --material-themereftertiarytertiary24: rgba(18, 64, 54, 1);
  --material-themereftertiarytertiary87: rgba(181, 228, 213, 1);
  --material-themereftertiarytertiary92: rgba(195, 242, 227, 1);
  --material-themereftertiarytertiary94: rgba(201, 248, 233, 1);
  --material-themereftertiarytertiary96: rgba(206, 254, 238, 1);
  --material-themereftertiarytertiary5: rgba(0, 20, 15, 1);
  --material-themereftertiarytertiary25: rgba(21, 67, 56, 1);
  --material-themereftertiarytertiary35: rgba(47, 90, 79, 1);
  --material-themereftertiarytertiary98: rgba(230, 255, 246, 1);
  --material-themereferrorerror0: rgba(0, 0, 0, 1);
  --material-themereferrorerror10: rgba(65, 0, 2, 1);
  --material-themereferrorerror20: rgba(105, 0, 5, 1);
  --material-themereferrorerror30: rgba(147, 0, 10, 1);
  --material-themereferrorerror40: rgba(186, 26, 26, 1);
  --material-themereferrorerror50: rgba(222, 55, 48, 1);
  --material-themereferrorerror60: rgba(255, 84, 73, 1);
  --material-themereferrorerror70: rgba(255, 137, 125, 1);
  --material-themereferrorerror80: rgba(255, 180, 171, 1);
  --material-themereferrorerror90: rgba(255, 218, 214, 1);
  --material-themereferrorerror95: rgba(255, 237, 234, 1);
  --material-themereferrorerror99: rgba(255, 251, 255, 1);
  --material-themereferrorerror100: rgba(255, 255, 255, 1);
  --material-themereferrorerror4: rgba(40, 0, 1, 1);
  --material-themereferrorerror6: rgba(49, 0, 1, 1);
  --material-themereferrorerror12: rgba(73, 0, 2, 1);
  --material-themereferrorerror17: rgba(92, 0, 4, 1);
  --material-themereferrorerror22: rgba(113, 0, 5, 1);
  --material-themereferrorerror24: rgba(121, 0, 6, 1);
  --material-themereferrorerror87: rgba(255, 207, 201, 1);
  --material-themereferrorerror92: rgba(255, 226, 222, 1);
  --material-themereferrorerror94: rgba(255, 233, 230, 1);
  --material-themereferrorerror96: rgba(255, 240, 238, 1);
  --material-themereferrorerror5: rgba(45, 0, 1, 1);
  --material-themereferrorerror25: rgba(126, 0, 7, 1);
  --material-themereferrorerror35: rgba(168, 7, 16, 1);
  --material-themereferrorerror98: rgba(255, 248, 247, 1);
  --material-themerefneutralneutral0: rgba(0, 0, 0, 1);
  --material-themerefneutralneutral4: rgba(14, 14, 10, 1);
  --material-themerefneutralneutral6: rgba(19, 20, 15, 1);
  --material-themerefneutralneutral10: rgba(28, 28, 23, 1);
  --material-themerefneutralneutral12: rgba(32, 32, 27, 1);
  --material-themerefneutralneutral17: rgba(42, 42, 37, 1);
  --material-themerefneutralneutral20: rgba(49, 49, 43, 1);
  --material-themerefneutralneutral22: rgba(53, 53, 47, 1);
  --material-themerefneutralneutral24: rgba(58, 57, 52, 1);
  --material-themerefneutralneutral30: rgba(71, 71, 65, 1);
  --material-themerefneutralneutral40: rgba(95, 95, 88, 1);
  --material-themerefneutralneutral50: rgba(120, 119, 112, 1);
  --material-themerefneutralneutral60: rgba(146, 145, 138, 1);
  --material-themerefneutralneutral70: rgba(173, 171, 164, 1);
  --material-themerefneutralneutral80: rgba(201, 198, 190, 1);
  --material-themerefneutralneutral87: rgba(220, 218, 210, 1);
  --material-themerefneutralneutral90: rgba(229, 226, 218, 1);
  --material-themerefneutralneutral92: rgba(235, 232, 224, 1);
  --material-themerefneutralneutral94: rgba(240, 238, 229, 1);
  --material-themerefneutralneutral95: rgba(243, 241, 232, 1);
  --material-themerefneutralneutral96: rgba(246, 243, 235, 1);
  --material-themerefneutralneutral99: rgba(255, 252, 243, 1);
  --material-themerefneutralneutral100: rgba(255, 255, 255, 1);
  --material-themerefneutralneutral5: rgba(17, 17, 13, 1);
  --material-themerefneutralneutral25: rgba(60, 60, 54, 1);
  --material-themerefneutralneutral35: rgba(83, 83, 76, 1);
  --material-themerefneutralneutral98: rgba(252, 249, 241, 1);
  --material-themerefneutral-variantneutral-variant0: rgba(0, 0, 0, 1);
  --material-themerefneutral-variantneutral-variant10: rgba(27, 28, 18, 1);
  --material-themerefneutral-variantneutral-variant20: rgba(48, 49, 38, 1);
  --material-themerefneutral-variantneutral-variant30: rgba(71, 72, 59, 1);
  --material-themerefneutral-variantneutral-variant40: rgba(95, 95, 82, 1);
  --material-themerefneutral-variantneutral-variant50: rgba(120, 120, 106, 1);
  --material-themerefneutral-variantneutral-variant60: rgba(145, 146, 131, 1);
  --material-themerefneutral-variantneutral-variant70: rgba(172, 172, 156, 1);
  --material-themerefneutral-variantneutral-variant80: rgba(200, 199, 183, 1);
  --material-themerefneutral-variantneutral-variant90: rgba(228, 227, 210, 1);
  --material-themerefneutral-variantneutral-variant95: rgba(243, 242, 224, 1);
  --material-themerefneutral-variantneutral-variant99: rgba(254, 253, 235, 1);
  --material-themerefneutral-variantneutral-variant100: rgba(255, 255, 255, 1);
  --material-themerefneutral-variantneutral-variant4: rgba(14, 15, 6, 1);
  --material-themerefneutral-variantneutral-variant6: rgba(19, 20, 10, 1);
  --material-themerefneutral-variantneutral-variant12: rgba(31, 32, 22, 1);
  --material-themerefneutral-variantneutral-variant17: rgba(42, 43, 32, 1);
  --material-themerefneutral-variantneutral-variant22: rgba(53, 54, 42, 1);
  --material-themerefneutral-variantneutral-variant24: rgba(57, 58, 46, 1);
  --material-themerefneutral-variantneutral-variant87: rgba(220, 219, 202, 1);
  --material-themerefneutral-variantneutral-variant92: rgba(234, 233, 216, 1);
  --material-themerefneutral-variantneutral-variant94: rgba(240, 239, 221, 1);
  --material-themerefneutral-variantneutral-variant96: rgba(245, 244, 227, 1);
  --material-themerefneutral-variantneutral-variant5: rgba(17, 18, 8, 1);
  --material-themerefneutral-variantneutral-variant25: rgba(59, 60, 48, 1);
  --material-themerefneutral-variantneutral-variant35: rgba(83, 83, 70, 1);
  --material-themerefneutral-variantneutral-variant98: rgba(251, 250, 233, 1);
  --material-themekey-colorsprimary: rgba(232, 251, 103, 1);
  --material-themesourceseed: rgba(232, 251, 103, 1);
  --material-theme-display-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-large-font-weight: 400;
  --material-theme-display-large-font-size: 57px;
  --material-theme-display-large-letter-spacing: 0px;
  --material-theme-display-large-line-height: 64px;
  --material-theme-display-large-font-style: normal;
  --material-theme-display-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-medium-font-weight: 400;
  --material-theme-display-medium-font-size: 45px;
  --material-theme-display-medium-letter-spacing: 0px;
  --material-theme-display-medium-line-height: 52px;
  --material-theme-display-medium-font-style: normal;
  --material-theme-display-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-small-font-weight: 400;
  --material-theme-display-small-font-size: 36px;
  --material-theme-display-small-letter-spacing: 0px;
  --material-theme-display-small-line-height: 44px;
  --material-theme-display-small-font-style: normal;
  --material-theme-headline-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-large-font-weight: 400;
  --material-theme-headline-large-font-size: 32px;
  --material-theme-headline-large-letter-spacing: 0px;
  --material-theme-headline-large-line-height: 40px;
  --material-theme-headline-large-font-style: normal;
  --material-theme-headline-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-medium-font-weight: 400;
  --material-theme-headline-medium-font-size: 28px;
  --material-theme-headline-medium-letter-spacing: 0px;
  --material-theme-headline-medium-line-height: 36px;
  --material-theme-headline-medium-font-style: normal;
  --material-theme-headline-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-small-font-weight: 400;
  --material-theme-headline-small-font-size: 24px;
  --material-theme-headline-small-letter-spacing: 0px;
  --material-theme-headline-small-line-height: 32px;
  --material-theme-headline-small-font-style: normal;
  --material-theme-title-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-title-large-font-weight: 400;
  --material-theme-title-large-font-size: 22px;
  --material-theme-title-large-letter-spacing: 0px;
  --material-theme-title-large-line-height: 28px;
  --material-theme-title-large-font-style: normal;
  --material-theme-title-medium-font-family: "Roboto-Medium", Helvetica;
  --material-theme-title-medium-font-weight: 500;
  --material-theme-title-medium-font-size: 16px;
  --material-theme-title-medium-letter-spacing: 0px;
  --material-theme-title-medium-line-height: 24px;
  --material-theme-title-medium-font-style: normal;
  --material-theme-title-small-font-family: "Roboto-Medium", Helvetica;
  --material-theme-title-small-font-weight: 500;
  --material-theme-title-small-font-size: 14px;
  --material-theme-title-small-letter-spacing: 0px;
  --material-theme-title-small-line-height: 20px;
  --material-theme-title-small-font-style: normal;
  --material-theme-body-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-large-font-weight: 400;
  --material-theme-body-large-font-size: 16px;
  --material-theme-body-large-letter-spacing: 0px;
  --material-theme-body-large-line-height: 24px;
  --material-theme-body-large-font-style: normal;
  --material-theme-body-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-medium-font-weight: 400;
  --material-theme-body-medium-font-size: 14px;
  --material-theme-body-medium-letter-spacing: 0px;
  --material-theme-body-medium-line-height: 20px;
  --material-theme-body-medium-font-style: normal;
  --material-theme-body-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-small-font-weight: 400;
  --material-theme-body-small-font-size: 12px;
  --material-theme-body-small-letter-spacing: 0px;
  --material-theme-body-small-line-height: 16px;
  --material-theme-body-small-font-style: normal;
  --material-theme-label-large-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-large-font-weight: 500;
  --material-theme-label-large-font-size: 14px;
  --material-theme-label-large-letter-spacing: 0px;
  --material-theme-label-large-line-height: 20px;
  --material-theme-label-large-font-style: normal;
  --material-theme-label-medium-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-medium-font-weight: 500;
  --material-theme-label-medium-font-size: 12px;
  --material-theme-label-medium-letter-spacing: 0px;
  --material-theme-label-medium-line-height: 16px;
  --material-theme-label-medium-font-style: normal;
  --material-theme-label-small-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-small-font-weight: 500;
  --material-theme-label-small-font-size: 11px;
  --material-theme-label-small-letter-spacing: 0px;
  --material-theme-label-small-line-height: 16px;
  --material-theme-label-small-font-style: normal;
  --variable-collection-DORA: rgba(232, 251, 103, 1);
}
